.App {
  width: 48vw;
  /* height: 75vh; */
}

.categories-bar{
position: absolute;
top: 80%;
left: 17%;
z-index: 7;
padding-top: 2px;
padding-left: 8px;
background-color: #fdfdfd;
width: 240px;
height: 35px;
border-radius: 20px;
border: 1px solid #545454;
margin: 8px;
box-shadow: 5px 2px 5px rgb(204, 210, 219);
}

.icon-space{
margin-top: 2px;
padding: 4px;
}


.Disability{
fill: #f96570;
}

.Disability-txt{
color: #f96570;
}


.Veteran{
fill: #7446e5;
}

.Veteran-txt{
color: #7446e5;
}


.Mental{
fill:#FFBD59;
}

.Mental-txt{
color: #FFBD59;
}

.Environmental{
fill: #4db594;
}

.Environmental-txt{
color: #4db594;
}

.Animal{
fill: #de478e;
}

.Animal-txt{
color: #de478e;
}

.Education{
 fill: #5665f3;
}

.Education-txt{
color: #5665f3;
}

.marker-preview {
position: relative;
}


.Justice{
fill: #4ca5e4;
}

.Justice-txt{
color: #4ca5e4;
}

.event-preview  {
display: block;
position: absolute;
background-color: #fdfdfd;
padding: 16px;
top: -120px;
left: -50px;
width: 10rem;
height: 10rem;
border: 1px solid #545454;
border-radius: 10px;
box-shadow: 5px 2px 5px rgb(204, 210, 219);
}

.event-preview span{
color:#545454;
font-size: 18px;
font-weight: 700;
}


.event-preview img {
display: block;
position: absolute;
bottom: -20px;
left: -0px;
/* top: -120px;
left: -50px; */
width: 100%;
height: 100px;
border-radius: 10px;
}


.nopadding{
padding: 0px;
}

.map-container {
  margin-left: 16px;
  margin-right: 30px;
  width: 50vw;
  height: 85vh;
  border: 3px solid #545454;
  border-radius: 5px;
}


@media (max-width: 480px) {
  .App {
      /* height: 100vh; */
      width: 100vw;
    }

.map-container{
  border-top: 2px solid #545454;
  border-bottom: 2px solid #545454;
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100vw;
  /* height: 30vh; */
  margin-bottom: 8px;
}
}