.App {
  width: 48vw;
  /* height: 75vh; */
}

.margintop{
  margin-top: 3px;
}

.dateInfo{
  height: 15px;
  width: 100%;
  font-size: x-small;
  color: #fdfdfd;
  text-align: right;
  padding-right: 16px;
}

#portrait{
  border: 12px solid #545454;
}

/* .person-marker-icon {
  border: 12px solid red; 
} */

/* .gm-style div div div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 8px solid red;
} */


/* .gm-style div div div div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 8px solid red; */


.colorbs{
  width: 100%;
  height: 100px;
  background-color: red;

  color: red;
  z-index: 2147483647;
}



.rightalign{
  padding-left: 50%;
}

.button{
  border-radius: 100px;
  color:#fdfdfd;
  font-size: small;
  background-color: #545454;
  border: 0px solid #545454;
  padding: 8px;
  position: absolute;
  top: 86.5%;
  right: 24.5%;
  z-index: 7;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.categories-bar{
  position: absolute;
  top: 80%;
  right: 17%;
  z-index: 7;
  padding-top: 2px;
  padding-left: 8px;
  background-color: #fdfdfd;
  width: 240px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #545454;
  margin: 8px;
  box-shadow: 5px 2px 5px rgb(204, 210, 219);
}

.counter{
  position: absolute;
  z-index: 7;
  top: 83%;
  right: 17.5%;
  pointer-events: none;
}

.count{
  /* position: fixed; */
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fdfdfd;
  border-radius: 100px;
  border: 1px solid #545454;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  font-size: xx-small;
  pointer-events: none;
  color:#545454;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.mainArticle{
  margin-left: 20px;
  padding: 20px;
}

.offCanvasImg{
  display: fixed;
  padding: 0px;
  left: 40%;
  max-height: 40%;
  width: 100%;
  margin-bottom: 8px;
  
}

.offCanvasHeader{
  background-color: #545454;
  color: #fdfdfd;
}

.icon-space{
margin-top: 2px;
padding: 4px;
}

div[aria-label="Map"] img{
  border-radius: 100%;
  border: solid 2px #f96570

}


div[title="Disability"]{
  border-radius: 100%;
  border: solid 2px #f96570;
  z-index: -255;
}

#Disability{
fill: #f96570;
}

.Disability{
  background-color: #f96570
}

.Disability-txt{
color: #f96570;
}


div[title="Veteran"]{
  border-radius: 100%;
  border: solid 2px #7446e5;
  z-index: -255;
}

#Veteran{
fill: #7446e5;
}

.Veteran{
  background-color: #7446e5;
}

.Veteran-txt{
color: #7446e5;
}


div[title="Mental"]{
  border-radius: 100%;
  border: solid 2px #FFBD59;
  z-index: -255;
}

#Mental{
fill:#FFBD59;
}
.Mental{
  background-color: #FFBD59;
}

.Mental-txt{
color: #FFBD59;
}



div[title="Environmental"]{
  border-radius: 100%;
  border: solid 2px #4db594;
  z-index: -255;
}

#Environmental{
fill: #4db594;
}

.Environmental{
  background-color: #4db594;
}
.Environmental-txt{
color: #4db594;
}


div[title="Animal"]{
  border-radius: 100%;
  border: solid 2px #de478e;
  z-index: -250;
}

#Animal{
fill: #de478e;
}

.Animal{
  background-color: #de478e;
}


.Animal-txt{
color: #de478e;
}

div[title="Education"]{
  border-radius: 100%;
  border: solid 2px #5665f3;
  z-index: -255;
}


#Education{
 fill: #5665f3;
}

.Education{
  background-color: #5665f3;
}

.Education-txt{
color: #5665f3;
}



div[title="Justice"]{
  border-radius: 100%;
  border: solid 2px #4ca5e4;
  z-index: -255;
}


#Justice{
fill: #4ca5e4;
}

.Justice{
  background-color: #4ca5e4;
}

.Justice-txt{
color: #4ca5e4;
}

.marker-preview {
  position: relative;
  }

.event-preview  {
display: block;
position: absolute;
background-color: #fdfdfd;
padding: 16px;
top: -200px;
left: -50px;
width: 10rem;
height: 10rem;
border: 1px solid #545454;
border-radius: 10px;
box-shadow: 5px 2px 5px rgb(204, 210, 219);
pointer-events: none;

}


/* .event-preview.active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
} */


.event-preview span{
color:#545454;
font-size: 18px;
font-weight: 700;
}

.hidden{
  visibility: hidden;
}

.active{
  visibility: visible;
}



.event-preview img {
display: block;
position: absolute;
bottom: 58px;
left: -0px;
/* top: -120px;
left: -50px; */
width: 100%;
height: 100px;
border-radius: 10px;
}


.nopadding{
padding: 0px;
}

.map-container {
  margin-left: 16px;
  margin-right: 30px;
  width: 55vw;
  height: 85vh;
  border: 3px solid #545454;
  border-radius: 5px;
}


@media (max-width: 480px) {

  .App {
      /* height: 100vh; */
      width: 100vw;
    }

    h5{
      font-size: medium;
    }

    .offcanvas{
      font-size: xx-small;
      --bs-offcanvas-height: 70vh;
    }

  .button{
    top: 80%;
    right: 45%;
  }

  .categories-bar{
    top: 72%;
  }

  .counter{
    top: 75%;
  }

  .map-container{
    border-top: 2px solid #545454;
    border-bottom: 2px solid #545454;
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100vw;
    /* height: 30vh; */
    margin-bottom: 8px;
  }
}