.header {
  color: var(--text-color);
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.header .logo {
  height: 20px;
}

.header .avatar {
  border-radius: 50%;
  height: 35px;
}
